{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block extra_title %}<title>Checkout</title>{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <!--Order Summary -->
        <div class="col-12 col-lg-6 order-lg-last mb-5">
            <div class="card bg-dark text-white">
                <div class="card-header">
                    <h5 class="mb-0">Order Summary ({{ product_count }})</h5>
                </div>
                <div class="card-body">
                    {% for item in basket_items %}
                        <div class="row mb-3 align-items-center">
                            <div class="col-2 mb-1">
                                <a href="{% url 'products:product_detail' item.product.id %}">
                                {% if item.product.image %}
                                    <img src="{{ item.product.image.url }}" alt="{{ product.name }}" class="w-100">
                                {% else %}
                                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" class="w-100">
                                {% endif %}
                                </a>
                            </div>
                            <div class="col-7">
                                <p class="mb-1"><strong>{{ item.product.name }}</strong></p>
                                <p class="mb-1 small">Size: {% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                                <p class="mb-1 small text-muted">Qty: {{ item.quantity }}</p>
                            </div>
                            <div class="col-3 text-right">
                                <p class="mb-1 small text-muted">${{ item.total }}</p>
                            </div>
                        </div>
                    {% endfor %}
                    <hr class="my-2">
                    <div class="row text-white">
                        <div class="col-7 offset-2">
                            <p class="mb-1">Order Total:</p>
                            <p class="mb-1">Delivery:</p>
                            <p class="mb-1"><strong>Grand Total:</strong></p>    
                        </div>
                        <div class="col-3">
                            <p class="mb-1">${{ total | floatformat:2 }}</p>
                            <p class="mb-1">${{ delivery | floatformat:2 }}</p>
                            <p class="mb-1">${{ grand_total | floatformat:2 }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Checkout form -->
        <div class="col-12 col-lg-6">
            <div class="card bg-dark text-white">
                <div class="card-header">
                    <h5 class="mb-0">Checkout Details</h5>
                </div>
                <div class="card-body">
                    <form action="{% url 'checkout:checkout' %}" method="POST" id="payment-form" class="align-items-center">
                        {% csrf_token %}

                        <!-- Personal Details -->
                        <div class="form-group mb-4 w-100">
                            <h6>Personal Details</h6>
                            <div class="mb-3">
                                {{ order_form.full_name|add_class:"form-control bg-white"|attr:"placeholder:Full Name" }}
                            </div>
                            <div class="mb-3">
                                {{ order_form.email|add_class:"form-control bg-white"|attr:"placeholder:Email" }}
                            </div>
                        </div>

                        <!-- Delivery Details -->
                        <div class="form-group mb-4">
                            <h6>Delivery Information</h6>

                            <div class="mb-3">
                                {{ order_form.phone_number|add_class:"form-control bg-white"|attr:"placeholder:Phone Number" }}
                            </div>
                            
                            <div class="mb-3">
                                {{ order_form.country|add_class:"form-control bg-white"|attr:"placeholder:Country" }}
                            </div>
                            <div class="mb-3">
                                {{ order_form.postcode|add_class:"form-control bg-white"|attr:"placeholder:Postcode" }}
                            </div>
                            <div class="mb-3">
                                {{ order_form.town_or_city|add_class:"form-control bg-white"|attr:"placeholder:City, Town..." }}
                            </div>
                            <div class="mb-3">
                                {{ order_form.street_address1|add_class:"form-control bg-white"|attr:"placeholder:Street Address 1" }}
                            </div>
                            <div class="mb-3">
                                {{ order_form.street_address2|add_class:"form-control bg-white"|attr:"placeholder:Street Address 2" }}
                            </div>
                            <div class="mb-3">    
                                {{ order_form.county|add_class:"form-control bg-white"|attr:"placeholder:County" }}
                            </div>    
                            {% if user.is_authenticated %}
                                <div class="form-check mb-3">
                                    <input type="checkbox" class="form-check-input" id="id_save_info" name="save_info" checked>
                                    <label for="id-save-info" class="form-check-label text-white">
                                        Save this delivery information to my profile
                                    </label>
                                </div>
                            {% else %}
                                <p class="text-muted">
                                    <a href="{% url 'Register' %}" class="text-info">Create an account</a> or
                                    <a href="{% url 'login' %}" class="text-info">Login</a> to save this information
                                </p>
                            {% endif %}
                        </div>

                        <!-- Payment Section -->
                        <div class="form-group mb-4">
                            <h6>Payment Information</h6>
                            <div id="card-element" class="stripe-style-input mb-3 form-control bg-white"></div>
                            <div id="card-errors" class="text-danger mb-3"></div>
                        </div>

                        <!-- Submit Section -->
                         <div class="submit-button">
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="" class="btn btn-outline-primary">
                                    <i class="fas fas fa-chevron-left me-2"></i>
                                    Update Basket
                                </a>
                                <button id="submit-button" class="btn btn-primary" >
                                    Complete Order
                                    <i class="fas fa-lock ms-2"></i>
                                </button>
                            </div>
                            <p class="small text-danger mt-2">
                                <i class="fas fa-exclamation-circle me-2">
                                    Your card will be charged <strong>${{ grand_total|floatformat:2 }}</strong>
                                </i>
                            </p>
                         </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super}}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}