/* Global page styling */
html {
    height: 100%;
}
body {
    background: url(/media/pexels-blaque-x-background-image-2.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: #000;
    height: calc(100vh - 164px);
    color: #fff;
    position: relative;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

/* Header - Main container */
header.container-fluid {
    background-color: rgba(0, 0, 0, 0.7) !important;
    backdrop-filter: blur(10px);
    padding: 1rem 0;
}

/* Logo Section */
.main-logo-link {
    width: fit-content;
}

/* Main Navigation and User Control */
.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
}

/* Search form */

.search-form .form-control {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgbe(255, 255, 255, 0.2);
    color: white;
}

.search-form .btn {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.search-form .btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* User dropdown menu */
.dropdown-menu {
    background-color: #121212;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    color: e0e0e0;
}

.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

/* Nav links styling base.html */
.nav-link {
    transition: opacity 0.3s ease;
}

.nav-link:hover {
    opacity: 0.8;
}

/* Bootstrap button overides */

.btn-dark {
    background-color: #212529;
    border-color: #212529;
    transition: all 0.3 ease;
}

.btn-dark:hover {
    background-color: #000;
    border-color: #000;
}

.btn-outline-dark:hover {
    background-color: #f8f9fa;
    color: #212529;
}

.badge {
    font-weight: 500;
    letter-spacing: 0.5px;
}

/* Responsove styles */
/* Desktop styles (hiding mobile styles)*/
@media (min-width: 992px) {
    .header-container {
        padding-top: 110px;
    }
}
