{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="card shadow-lg border-0">
                    <div class="card-body p-4">
                        <h2 class="text-center text-white mb-4">Login</h2>
                        <form action="{% url 'accounts:login' %}" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                {{ form.username|add_class:"form-control bg-white text-dark"|attr:"placeholder:Username" }}
                                {{ form.username.errors }}
                            </div>

                            <div class="mb-3">
                                {{ form.password|add_class:"form-control bg-white text-dark"|attr:"placeholder:Password" }}
                                {{ form.password.errors }}
                            </div>

                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary btn-lg">Login</button>
                            </div>
                        </form>
                        <div class="text-center mt-3">
                            <p class="text-white-50">
                                Don't have an account?
                                <a href="{% url 'accounts:register' %}" class="text-warning text-decoration-none">Register Here</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}