{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-dark text-white">
                <form action="" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb3">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <div class="text-danger">
                                    {% for error in field.errors %}
                                        <small>{{ errors }}</small>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                    <div class="text-center mt-3">
                        <p>Already have an account? <a href="{% url 'login' %}" class="text-white">Login here</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}