<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="#" class="logo-font fw-bold nav-link text-white me-4" id="all_products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products:products' %}?sort=price&direction=asc" class="dropdown-item text-white">By Price</a>
                <a href="{% url 'products:products' %}?sort=rating&direction=desc" class="dropdown-item text-white">By Rating</a>
                <a href="{% url 'products:products' %}?sort=category&direction=desc" class="dropdown-item text-white">By Category</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="logo-font fw-bold nav-link text-white me-4" id="all_products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Footwear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products:products' %}?category=shoes" class="dropdown-item text-white">Shoes</a>
                <a href="{% url 'products:products' %}?category=boots" class="dropdown-item text-white">Boots</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="logo-font fw-bold nav-link text-white me-4" id="clothing-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products:products' %}?category=activewear" class="dropdown-item text-white">Activewear</a>
                <a href="{% url 'products:products' %}?category=trousers" class="dropdown-item text-white">Trousers</a>
                <a href="{% url 'products:products' %}?category=sweaters" class="dropdown-item text-white">Sweaters</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="logo-font fw-bold nav-link text-white me-4" id="adventure-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Adventure
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products:products' %}?category=adventure" class="dropdown-item text-white">All Adventure Gear</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="logo-font fw-bold nav-link text-white me-4 text-white" id="specials-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products:products' %}?category=new_arrival" class="dropdown-item text-white">New Arrivals</a>
                <a href="{% url 'products:products' %}?category=clearance" class="dropdown-item text-white">Clearance</a>
            </div>
        </li>
    </ul>
</div>