<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font-fw-bold nav-link text-white me-4" id="all-products-link" data-bs-toggle="dropdown" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu dropdown-menu-dark border-0 rounded-3" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav"></li>
    </ul>
</div>